page-home {
  h2 {
    padding-top: 2%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  .breachImage {
    margin: auto;
    max-width: 125px;
    max-height: 125px;
  }

  img {
    background-color: #d3d3d3;
    padding: 5%;
  }

  ion-card-title {
    text-align: center;
  }

  .breachDesc {
    text-align: justify;
    font-size: 0.9em;
    font-weight: lighter;
  }

  .row.pdam-row {
    background-color: color($colors, primary);
    flex: 0.2;
    margin-top: 0 !important;
    margin-bottom: 5px !important;
  }

  .row .col-style h2 {
    line-height: 1;
    margin-top: 12px !important;
    margin-bottom: -10px !important;
    font-weight: 900;
    color: #fff;
  }

  .row .col-style h5 {
    text-align: center;
    line-height: 1;
    margin-bottom: 0 !important;
    color: #fff;
    font-size: 75%;
    font-weight: 400;
  }

  .topTip {
    font-size: 0.9em;
    font-weight: lighter;
  }

  ion-card h2 {
    font-size: 2em !important;
    padding: 5%;
  }

  .topTip span {
    color: color($colors, secondary);
  }
}
