page-passwords {

  .searchPassword h2 {
    font-weight: bolder;
    text-align: center;
    font-size: 0.8em;
  }

  .searchPassword h2 span {
    color: color($colors, danger);;
  }

  .passwordSafe {
    text-align: center;
    font-size: 1.2em;
    border: 1px solid color($colors, secondary);;
    padding: 2%;
    margin: 5%;
  }

  .passwordBreached {
    text-align: center;
    font-size: 1.2em;
    border: 1px solid color($colors, danger);;
    padding: 2%;
    margin: 5%;
  }

  .topTip span {
    color: color($colors, secondary);
  }
}
